---
- name: Disable swap
  ansible.builtin.command: swapoff -a
  become: true

- name: Ensure swap is disabled in fstab
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '(^.*swap.*$)'
    replace: '# \1'

- name: Load required kernel modules
  ansible.builtin.shell: |
    modprobe overlay
    modprobe br_netfilter

- name: Set sysctl params
  ansible.builtin.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { name: net.bridge.bridge-nf-call-iptables, value: 1 }
    - { name: net.ipv4.ip_forward, value: 1 }
    - { name: net.bridge.bridge-nf-call-ip6tables, value: 1 }

- name: Install containerd
  ansible.builtin.apt:
    name: containerd
    state: present
    update_cache: yes

- name: Install kubeadm, kubelet, kubectl
  ansible.builtin.apt:
    name: ['kubelet','kubeadm','kubectl']
    state: present
    update_cache: yes
